extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-error("5000")
    h1(class="mb-4") Thêm mới danh mục
    form(
        action=`${prefixAdmin}/product-category/create`
        id="form-create-product"
        method="POST"
        enctype="multipart/form-data"
    )
        // Tiêu đề
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                novalidate
            )
        div(class="form-group")
            label(for="parent_id") Danh mục cha 
            input(
                type="text"
                class="form-control"
                id="parent_id"
                name="parent_id"
                novalidate
            )
        // Mô tả
        div(class="form-group")
            label(for="desc") Mô tả
            textarea(
                class="form-control textarea-mce"
                id="desc"
                name="description"
                rows="5"
            )
        // Ảnh
        div(
            class="form-group"
            upload-image
        )
            label(for="thumbnail") Ảnh
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
            img(
                src=""
                upload-image-preview
                class="image-preview"
            )

        // Vị trí
        div(class="form-group")
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
            )

        // status
        div(class="form-group")
            div(class="form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked
                )
                label(class="form-check-label" for="statusActive") Hoạt động
            div(class="form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInactive"
                    name="status"
                    value="inactive"
                )
                label(class="form-check-label" for="statusInactive") Dừng hoạt động

        // Nút submit
        button(type="submit" class="btn btn-primary mt-3") Tạo mới

    script(src="/admin/js/product.js")
